<section
    class="landing-section flex justify-center bg-black h-screen w-full text-center relative overflow-hidden z-20"
    data-header-color = "black">

    <div class="z-20 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-36 text-[40px] font-medium">Model Y</h2>
            <a href="#" class="text-black text-sm text underline">Concertar una prueba de conducción</a>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-4">
            <div class="gap-x-4 flex ms-auto max-w-7xl">
                <a class="border[2px] border-gray-700/80 bg-gray-700/80 text-sm rounded font-semibold text-white px-14 py-3 inline-block transition-colors hover:bg-gray-700/80" href="#">Explorar Inventario</a>
                <a class="border[2px] border-white bg-white/50 text-sm rounded font-semibold text-gray-700 px-14 py-3 transition-colors hover:bg-gray-700/80 hover:text-white hover:border-gray-700/80 inline-flex justify-center items-center pb-2" href="#">Pedido Personalizado</a>                
            </div>
            <p class="pt-7 text-xs underline text-gray-700">Disponible con Moves !!!</p>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="../../public/Model-Y.avif" class="h-full w-full object-cover object-center">
    </div>			
</section>