<section 
    class="landing-section flex justify-center bg-black h-screen w-full text-center relative overflow-hidden z-30"
    data-header-color="white">


    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-36 text-[42px] font-medium">Disfrute de Tesla</h2>
            <p class="text-white text-ls">Programe una prueba de conducción hoy mismo</p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="max-w-2xl">
                <a class="border-[3px] border-white bg-white/5 backdrop-blur[20px] text[10px] rounded font-semibold text-white px-11 py-1 inline-block hover:bg-white hover:text-gray-800 transition-colors" href="#">Prueba de conducción</a>
            </div>
            
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="object-center object-cover h-full w-full"
        autoplay
        muted
        loop 
        src="/public/fondo.webm"></video>
    </div>			
</section>